extends layout.pug

block content

  nav.nav
    a(href='/home')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Karan Badhwar

        //- Feel free to personalize the title below
        h3 Full Stack(Full-Time) JavaScript Learner


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I would like to present myself to the rest of the web operators, as I tried learning Web development from a lot of institutes, but couldn't learn it, coz I was going to learn it not enjoy it, It's Treehouse what made me fell in love with this art. I tried a lot for my this little journey, I got frustrated, annoyed if I am unable to understand something, but I did it and the rest is still pending with some Legen...waitforit...dary Legendary projects!!     


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 437-994-4830
          li kbb914@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/karan-badhwar-3b466684/' target ="_blank") LinkedIn
        a.btn-link(href='https://github.com/karanbadhwar' target="_blank") GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back